<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcworld.module_backstage" >
    <application>
        <!--在自己组件中注册Activity-->
        <activity
            android:name="com.lcworld.module_backstage.activity.BackstageEntrancActivity" />
    </application>
</manifest>
