<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcworld.module_backstage" >
    <application>
        <activity android:name=".activity.BackstageEntranceActivity"/>
        <activity android:name=".activity.FanSearchActivity"/>
        <activity android:name=".activity.FanListActivity"/>
        <activity android:name=".activity.FansDetailActivity"/>
        <activity android:name=".activity.FansManagerActivity"/>
    </application>
</manifest>
