<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcworld.module_order">

    <application>
        <activity android:name=".ui.EntranceActivity" />
        <activity android:name="com.lcworld.module_order.activity.ShoppingCardAct" />
        <activity android:name="com.lcworld.module_order.activity.OrderConfirmAAct" />
        <activity android:name="com.lcworld.module_order.activity.OrderConfirmBAct" />
        <activity android:name="com.lcworld.module_order.activity.ReceiverAddressAct" />
        <activity android:name="com.lcworld.module_order.activity.ReceiverAddressEditAct" />
        <activity android:name="com.lcworld.module_order.activity.PaymentChooseAct" />
        <activity android:name="com.lcworld.module_order.activity.PaymentResultAct" />
        <activity android:name="com.lcworld.module_order.activity.PaymentDiamondAct" />
        <activity android:name="com.lcworld.module_order.activity.OrderReviewAct"/>
        <activity android:name="com.lcworld.module_order.activity.OrderDetailAct"/>


    </application>


</manifest>
