<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lcworld.module_system">

    <application
        android:name="com.lcworld.library_base.debug.DebugApplication"
        tools:replace="label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/system_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>
</manifest>