<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcworld.module_goods">

    <application>
        <activity android:name="com.lcworld.module_goods.activity.ProductDetailAct"
                  android:theme="@style/MainTheme.TranslucentTheme"/>
    </application>

</manifest>
