<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcworld.module_system" >
    <application>
        <!--在自己组件中注册Activity-->
        <activity
                android:name="com.lcworld.module_system.activity.ToolEntranceActivity"/>
    </application>

</manifest>
